form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.pub_image .container-avatar {
   height: 35px;
   width: 35px;
   border-radius: 900px;
   overflow: hidden;
   margin-left: 10px;
   margin-right: 5px;
}

.navbar-light .navbar-nav .nav-item > .nav-link {
    color: lightblue;
    /* background-color: aliceblue; */
    opacity: .8;
    /* font-weight: bold; */
}

.navbar-light .navbar-nav .nav-item > .nav-link:hover{
    color: yellow;
    opacity: 1;
}

.navbar-light .navbar-nav .nav-item > .nav-link:active{
    color: yellow;
    opacity: 1;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
     height:100%;   
 }

 .pub_image{
      
    margin-bottom: 25px;
    background-color: rgba(11, 11, 11, .9);
    border-bottom: 1px solid rgba(0,0,0,.125);    
    border-radius: 7px;
 }

 .pub_image .container-avatar {
   float:left;  
   margin-right: 15px;
}

.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}

.pub_image .data-user a{
    color: lightgray;
}

.pub_image .nickname{
    color:wheat;
}

.image-container{
width: 100%;
max-height: 400px;
overflow: hidden;

}

.image-detail{ 
    max-height:500px;   
    }


.image-container img{
    width: 100%;  
    }

.pub_image .card-body{
    padding:0px;
}

.pub_image .description{
    padding:20px;
    padding-bottom:0px;
    color: azure;
}

.pub_image .btn-comments{
    margin:20px;
    margin-top:0px;
    margin-left: 0px;
}

.likes {
    float: left;
    padding-left: 20px;
    padding-right:10px;
}
.likes img{
    width: 20px;
}

.pub_image_detail .comments{
    
    padding:20px;

    }

.number_likes{
    color:gray;
    font-size: 11px;
}

.imagePerson{
    margin-top: 5px;
}

.profile-user .container-avatar{
    width: 200px;
    height: 200px;
    border-radius: 900px;
    overflow: hidden;
    float: left;
    margin-top: 30px;
}

.profile-user .container-avatar img{
    height: 100%;
    width: 100%; 
}

.profile-user .user-info{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.btn-search{
    margin-left: 0px;
    padding-left: 0px;
}

.profile-user > .ratings {
    padding-top: 30px;
    /* padding-left: 0; */
    margin-top: 20px;
}

.titulo_reporte{
    margin-left: auto;
    margin-right: auto; 
}

.logofunnight{

    /* padding: 50; */
    width: 200px;
    height: 200px; 
}

/* .logofunnight img { 
    max-width: 50%; 
} */

/* /* form {
    margin: 30px auto;
    width: 30px;
  } */
  

  
